*,
*::before,
*::after{
    box-sizing: border-box;
}

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    margin: 0;
    display: grid;
    font-size: 16px;
    font-family: 'Times New Roman', Times, serif;
    text-align: center;
    background-color:cadetblue;
}

a{
    text-decoration: none;
    color: black;
}

h1, h2,h3,p{
    margin: 0;
    padding: 10px;
}

header{
    width: 100%;
    position: fixed;
    display:flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    z-index: 1;
}

nav{
    display: flex;
    justify-content: space-around;
    margin: 0 auto;
}

nav ul li{
    display: inline-block;
    padding: 10px 10px;
}

main{
    padding-top: 35px;
}

/* landscape */

#landscape{
    padding-top: 100px;
}

.landscape-photos{
    display: flex;
    padding-top: 35px;
    padding-bottom: 35px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
    margin: auto auto;
}

.portrait-photos{
    display: flex;
    padding-top: 35px;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

.land{
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    width: 550px;
    height: 350px;
    transition: transform .2s; /* Animation */

}

.land:hover{
    transform: scale(1.1);
}

.port{
    padding-top: 20px;
    padding-bottom: 20px;
    display: grid;
    width: 450px;
    height: 350px;
    transition: transform .2s; /* Animation */

}

.port:hover{
    transform: scale(1.1);
}

footer ul li{
    padding-top: 20px;
    display: inline;
}

.unsplash{
    color: red;
    font-size: bold;
}


@media only screen and (min-width: 300px){
    #landscape{
        padding-top: 200px;
    }

    .land{
        padding-top: 20px;
        padding-bottom: 20px;
        display: grid;
        width: 450px;
        height: 300px;
        transition: transform .2s; /* Animation */
    
    }


    .port{
        padding-top: 20px;
        padding-bottom: 20px;
        display: grid;
        width: 350px;
        height: 300px;
        transition: transform .2s; /* Animation */

    }
}